@page
@model FarmersMarket.Pages.errors._400Model
@{
    ViewData["title"] = "Not Authorised";
}
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
    <p>This type of error is caused by a lack of authorization credentials, as you are not authorized to access the wanted page. This is the server telling you that you are not authenticated, or you misspelled your username or password.</p>
</div>
