@page
@model FarmersMarket.Pages.errors.custom404Model
@{
    ViewData["title"] = "Page does not exists";
}
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
<p>The page you are looking either doesn't exists or some issue has occurred.</p>
</div>