@page
@model FarmersMarket.Pages.errors._500Model
@{
    ViewData["title"] = "This error comes as the server encountered a problem";
}
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p>This error comes as the server encountered a problem, and couldn’t complete your request.</p>
</div>