@page
@model FarmersMarket.Pages._502Model
@{
    ViewData["title"] = "Bad Gateway problem";
}
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">502</h1>
    <p>This type of error means that there might be some network connectivity problems</p>
</div>