@page
@model FarmersMarket.Pages._503Model
@{
    ViewData["title"] = "service is temporarily unavailable";
}
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">503</h1>
    <p>site server is not available for usage, because of either a planned or an unplanned event</p>
</div>