@page
@model FarmersMarket.Pages.errors._504Model
@{
    ViewData["title"] = "no response from the server";
}
<div class="container" style="text-align: center; color: #888;">
<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">504</h1>
    <p>This code gives a Gateway Timeout error.</p>
</div>
